.card-header{
    color:blue;
}


#outer-div {
    width: 100%; 
    text-align: center; 
}


#inner-div {
    display: inline-block; 
    margin: 25px auto;
    padding: 25px;
    background-color: #8ebf42
}