.card-header{
    color:blue;
}
.card-body, .card {
    display: inline-block;
}

.food-image{
    background-image:url("../img/eggs.jpg");
    /* Full height */
    height: 200%;
    width:90%;
    /* Center and scale the image nicely */
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}
#map {
    background-color: none;
}

div {
    background-color: whitesmoke;
}


.truck-image{
    background-image: url("../img/food-truck.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:90%;
    margin:auto;  
}

.glyphicon glyphicon-log-in{
    color:white;

}

.footer{
    position:relative;
}
#outer-div {
    width: 100%; 
    text-align: center; 
}

#map {
    margin: 0 auto;
    height: 400px;
    width: 50%
}

#inner-div {
    display: inline-block; 
    margin: 25px auto;
    padding: 25px;
    background-color: #8ebf42
}